  <%= render 'shared/header' %>
  <main class="container mx-auto mt-8">
    <section class="text-center">
      <h1 class="text-4xl font-bold mb-4">練習用Todo</h1>
      <div class="mt-5">
      <a href="#" class="bg-blue-600 text-white px-6 py-3 rounded-full hover:bg-blue-700">Todoへ</a>
    </section>
  </main>
