<header class="bg-blue-600 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center"> 
    <div class="text-lg font-bold">練習用Todo</div>
      <nav class="flex space-x-4">
        <a href="#" class="px-3 py-2 hover:bg-blue-700 rounded">ログイン</a>
        <a href="#" class="px-3 py-2 hover:bg-blue-700 rounded">ログイン</a>
        <a href="#" class="px-3 py-2 hover:bg-blue-700 rounded">ログイン</a>
      </nav>
  </div>
</header>